.about-wrapper {
  display: flex;
  align-items: center;
  padding: 4rem;
}

.about-section {
  padding: 1.5rem;
  margin: 0 auto;
  width: 550px;
  background: var(--color-two);
}

.about-section a {
  text-decoration: underline;
}