button {
  cursor: pointer;

  /* styling */
  background-color: white;
  border: 1px solid gainsboro;

  /* font styling */
  font-family: "IBM Plex Mono";

  /* alignment */
  margin: 0 0.2em;
  padding: 0.4em;

  /* animation */
  transition: all 0.5s ease;
}

button:hover {
  background-color: #dcdcdc;
}

button:active {
  transition: 0.1s;
  background-color: #a7a7a7;
}
