.dh-wrapper {
  width: 100%;

  /* content alignment */
  display: flex;
  flex-direction: column;

  /* border: 2px solid salmon; */
}

.dh-canvas {
  width: 600px;
  flex: 6;

  /* styling */
  background-color: white;

  /* alignment */
  margin: 0.5em auto;

  /* content align */
  position: relative;
  /* border: 2px solid skyblue; */
}

/* game-object */
.game-object {
  position: absolute;
  transition: all 0.5s ease;
}

/* alice, bob */
.alice,
.bob {
  width: 64px;
  height: 64px;

  /* style */
  border: 4px solid black;

  /* content align */
  display: flex;
}

.alice p,
.bob p {
  /* align */
  margin: auto;
}

.alice {
  /* styling */
  background-color: aliceblue;

  /* alignment */
  top: 240px;
  left: 100px;
  /* transform: translate(100px, 0); */
}

.bob {
  /* styling */
  background-color: salmon;

  /* alignment */
  top: 240px;
  right: 100px;
  /* transform: translate(380px, 0); */
}

/* lock */
.lock {
  transition: all 1s ease;
}

.shackle {
  /* styling */
  fill: black;

  /* animation */
  transition: all 0.5s ease;
}

.unlocked {
  transform: translateY(-10px);
}

/* paper */
.paper {
  transition: all 1s ease;
}

.paper-row-text {
  /* animation */
  transition: all 0.2s ease;
}

.row-hidden {
  opacity: 0;
  transform: translateY(-10px);
}

/* controls */
.dh-controls-splash {
  width: 600px;
  height: 110px;

  /* styling */
  background-color: white;
  /* border: 3px solid black; */

  /* alignment */
  position: absolute;
  transform: translateX(72px);

  /* content alignemnt */
  display: flex;

  /* border: 1px solid salmon; */
}

.hide {
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.dh-button-wrapper {
  margin: auto;
}

.dh-controls-wrapper {
  flex: 2;
  /* border: 1px solid salmon; */
  /* content align */
  display: flex;
  flex-direction: column;
}

.dh-controls {
  flex: 1;
  margin: auto;
  margin-bottom: 1em;
}

.dh-frame-desc {
  width: 500px;
  flex: 2;

  /* alignment */
  margin: auto;

  /* content alignment */
  text-align: center;

  /* border: 1px solid salmon; */
}
