.closest-pair {
  width: 100%;

  /* content alignment */
  display: flex;
  flex-direction: column;
}

.cp-wrapper {
  width: 100%;

  /* alignment */
  flex: 4;

  /* content alignment */
  display: flex;
  padding: 1em;

  /* border: 1px solid salmon; */
}

/* pseudocode */
.cp-pseudocode {
  /* style */
  background-color: white;

  /* alignment */
  margin: auto;

  /* content alignment */
  padding: 0.5em;

  /* border: 1px solid sandybrown; */
}

/* canvas */
.cp-canvas {
  width: 320px;
  height: 320px;

  /* styling */
  background-color: white;

  /* alignment */
  margin: auto;

  /* content alignment */
  position: relative;

  /* border: 1px solid slateblue; */
}

/* controls */
.cp-controls {
  flex: 1;

  display: flex;

  /* border: 1px solid seagreen; */
}

.cp-buttons-wrapper {
  width: auto;
  margin: auto;

  /* border: 1px solid salmon; */
}

/* dot */
.dot {
  width: 10px;
  height: 10px;

  /* styling */
  border-radius: 50%;
  background-color: darkgray;

  /* alignment */
  position: absolute;

  /* animation */
  animation: bubble-pop 0.5s ease;

  /* border: 1px solid seagreen; */
}

@keyframes bubble-pop {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

.dot-visited,
.dot-best {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.dot-visited {
  background-color: #3a86ff;
  animation-name: visitedAnimation;
}

.dot-best {
  background-color: #ef233c;
  animation-name: bestAnimation;
}

.dot-doi {
  background-color: #ffbe0b;
  animation-name: doiAnimation;
}

@keyframes visitedAnimation {
  25% {
    transform: scale(1.5);
    background-color: rgba(64, 215, 232, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: #3a86ff;
  }
}

@keyframes bestAnimation {
  25% {
    transform: scale(1.5);
    background-color: rgba(233, 82, 27, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: #ef233c;
  }
}

@keyframes doiAnimation {
  25% {
    transform: scale(1.5);
    background-color: rgba(202, 255, 80, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: #ffbe0b;
  }
}
