.theory__categories-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */
}

.theory__categories-container {
  padding: 0 4rem;
}

.category {
  flex-basis: 32%;
  padding: 1rem;
  margin: 0.2rem;
  background: var(--color-two);
}

.comingsoon {
  opacity: 50%;
}

.category h2 {
  text-align: center;
}

.category p {
  text-align: center;
  text-size-adjust: 10pt;
}

@media screen and (max-width: 1050px) {
  .category {
    flex-basis: 49%;
    margin: 0.2rem 0.1rem;
  }
}

@media screen and (max-width: 800px) {
  .theory__categories-container {
    padding: 0 6rem;
  }

  .category {
    flex-basis: 100%;
    margin: 0.2rem 0.1rem;
  }
}

/* Quote */
.theory__quote-wrapper {
  display: flex;
  padding: 4rem 8rem;
}

.theory__quote {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.theory__quote-text {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.theory__quote p {
  text-align: center;
  animation-name: fade-in;
  animation-duration: 6s;
}

@keyframes fade-in {
  0%   {opacity: 0%;}
  75%  {opacity: 0%;}
  100%  {opacity: 100%;}
}