.theory__categories-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */
}

.theory__categories-container {
  padding: 0 4rem;
}

.category {
  flex-basis: 32%;
  padding: 1rem;
  margin: 0.2rem;
  background: var(--color-two);
}

.comingsoon {
  opacity: 50%;
}

.category h2 {
  text-align: center;
}

.category p {
  text-align: center;
  text-size-adjust: 10pt;
}

@media screen and (max-width: 1050px) {
  .category {
    flex-basis: 49%;
    margin: 0.2rem 0.1rem;
  }

  .theory__quote {
    height: 160px !important;
    margin-bottom: -2rem !important;
  }
}

@media screen and (max-width: 800px) {
  .theory__categories-container {
    padding: 0 6rem;
  }

  .category {
    flex-basis: 100%;
    margin: 0.2rem 0.1rem;
  }

  .theory__quote-wrapper {
    padding: 2rem !important;
  }

  .theory__quote-text {
    font-size: 1.6em !important;
  }

  .theory__quote {
    margin-bottom: -2.4rem !important;
  }
}

@media screen and (max-width: 380px) {
  .theory__quote-text {
    font-size: 1.2em !important;
  }

  .theory__quote {
    margin-bottom: -4rem !important;
  }
}

/* Quote */
.theory__quote-wrapper {
  display: flex;
  padding: 4rem 8rem;
}

.theory__quote {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 120px;
  /* border: 1px solid salmon; */
}

.theory__quote-text {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.theory__quote p {
  text-align: center;
  animation-name: fade-in;
  animation-duration: 6s;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
